################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroServicesCQRSDotNetCore/Dot.Net.Core.Common/bin/Debug/netcoreapp2.0
